@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');
:root {
    --principal-color: hsl(224, 25%, 20%);
    --secondary-color: hsl(219, 18%, 29%);
    --third-color: hsl(219, 18%, 34%);
    --action-color: hsl(240, 88%, 69%);
    --purple-color: hsl(254, 74%, 21%);
    --blue-color: hsl(210, 100%, 12%);
    --blue-color-secondary: hsl(211, 61%, 10%);
}

body {
    background-color: var(--blue-color);
}
* {
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
